[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marimo = {extras = ["sql"], version = "*"}
polars = {extras = ["pyarrow"], version = "*"}
ruff = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
